body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

input, button {
  padding: 10px;
  margin: 5px;
}

.big-btn {
  display: inline-block;
  padding: 25px 50px;
  background: crimson;
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 22px;
  border-radius: 10px;
}
